@model IEnumerable<MVC02.Models.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div id="displayer">
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <span> | </span><a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <span> | </span><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        <span> | </span><a asp-controller="Products" asp-action="ShowByCategory" asp-route-id="@item.Id">Show all products in category</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>