@model MVC02.Models.Product

@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<div id="displayer">

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>


            @if (User.IsInRole("Admin"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ForSale)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ForSale)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>

        </dl>
    </div>
    <div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
</div>